# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Virtual environment
.venv/

# uv
.uv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / OS
.idea/
.vscode/
.DS_Store
*.parquet
